
<div class="text-center pt-5">
    <h2>RESTAURANTES MARINOS</h2>
</div>
<div class="row justify-content-md-center align-items-center p-5">
    <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 text-center p-2">
        <a href="/categorias/subcategorias/puntosmarinos/deljere"><img src="/img/marinos/deljere.jpg" class="col-md-12 " alt=""></a>   
        
    </div>
    <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 text-center p-2">        
        <a href="/categorias/comidas"><img src="/img/marinos/elperla.png" class="col-md-12 " alt=""></a>           
        
    </div>
    <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3  text-center p-2">
        <img src="/img/marinos/mares.jpg" class="col-md-12" alt="">   
        
    </div>
    
    <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 text-center p-2">
        <img src="/img/marinos/onorteño.png" class="col-md-12" alt="">   
        
    </div>  
    <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 text-center p-2">
        <img src="/img/marinos/purolimon.jpg" class="col-md-12" alt="">   
        
    </div>      
   
</div>

