
        <div class="banner justify-content-md-center align-items-center pt-3 pb-3" id="banner">
             <div class=" col-12 col-md-12 ">
              
                <img class="col-12" src="https://mallsojam.s3.amazonaws.com/BANNER.png" >
            </div>
            
        
        </div>
           
 
