<div class="text-center pt-5">
    <h4> Selecciona tu favorita</h4>    
</div>

<div class="row justify-content-md-center align-items-center p-5">
    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 text-center">
        <a href="/categorias/subcategorias/marinos"><img src="/img/ceviche.fw.png" class="col-md-12" alt=""></a>   
        <h5 class="col-md-12">Cevichito</h5>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 text-center">        
        <a href="/categorias/comidas"><img src="/img/pollobrasa1.fw.png" class="col-md-12 " alt=""></a>           
        <h5 class="col-md-12">Pollito a la Brasa</h5>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3  text-center">
        <img src="/img/chaufa1.png" class="col-md-12" alt="">   
        <h5 class="col-md-12">Chaufita</h5>
    </div>
    
    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 text-center">
        <img src="/img/parrillas1.fw.png" class="col-md-12" alt="">   
        <h5 class="col-md-12">Parrillas</h5>
    </div>     
</div>